<!DOCTYPE html>
<html>
	<head th:replace="includes/head::headtag">
	</head >
	<body>
		<!-- <div th:replace="includes/nav::navbar"></div > -->

		<div class="blog-title" style="display:flex; justify-content: center; align-items: center; height: 90vh; flex-direction:column;">
	                    <h1>Error: Something went wrong</h1>
	                    <div class="btn1"><a href="/index" style="float:none">Home</a></div>
		</div>
		
		
		
		<!--<div th:replace="includes/footer::footer-1"></div >-->
		<div th:replace="includes/footer::footer-2"></div >
	
	</body>
</html>